<div class="hundred">
  <div>
    <p>{{ player }} is currently the next player.</p>
    <p>Click to select other player
      <button (click)="currentPlayer()">{{ player }}</button>
    </p>
  </div>
  <div>
      <p>{{ oneortwo }} player game is selected.</p>
      <p>Toggle 
        <button (click)="numOfPlayers()">{{ oneortwo }}</button>
      </p>
    </div>

  <div class="holdThree">
      <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeOne()" [ngClass]="{'blueBox': bgColorBlue1 === true,'redBox': bgColorBlue1 === false}">{{one}}</button>
    </div>
    <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeTwo()" [ngClass]="{'blueBox': bgColorBlue2 === true,'redBox': bgColorBlue2 === false}">{{two}}</button>
    </div>
    <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeThree()" [ngClass]="{'blueBox': bgColorBlue3 === true,'redBox': bgColorBlue3 === false}">{{three}}</button>
    </div>
  </div>
  <div class="holdThree">
      <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeFour()" [ngClass]="{'blueBox': bgColorBlue4 === true,'redBox': bgColorBlue4 === false}">{{four}}</button>
    </div>
    <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeFive()" [ngClass]="{'blueBox': bgColorBlue5 === true,'redBox': bgColorBlue5 === false}">{{five}}</button>
    </div>
    <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeSix()" [ngClass]="{'blueBox': bgColorBlue6 === true,'redBox': bgColorBlue6 === false}">{{six}}</button>
    </div>
  </div>
  <div class="holdThree">
      <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeSeven()" [ngClass]="{'blueBox': bgColorBlue7 === true,'redBox': bgColorBlue7 === false}">{{seven}}</button>
    </div>
    <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeEight()" [ngClass]="{'blueBox': bgColorBlue8 === true,'redBox': bgColorBlue8 === false}">{{eight}}</button>
    </div>
    <div style="border: 1px solid black;display: inline-block;" >
      <button (click)="changeNine()" [ngClass]="{'blueBox': bgColorBlue9 === true,'redBox': bgColorBlue9 === false}">{{nine}}</button>
    </div>
  </div>
  <div>
    <button (click)="resetGame()">RESET</button>
  </div>
{{ info }}
</div>
<router-outlet></router-outlet>