/* .button {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 100px;
    
    color: white;
    font-size: 70px;
    margin: auto;
} 

.btn-one {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 70px;
    margin: auto;
} */

.hundred {
    width: 400px;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    padding: 50px;
}

.holdThree {
    max-width: 310px;
    max-height: 110px;
    display: inline-block;
    align-content: center;
}

/* .one { */
    /* border: 1px solid black; */
    /* display: inline-block; */
/* } */

.button blueBox {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 70px;
    margin: auto;
}

.blueBox {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    font-size: 70px;
    margin: auto;
}

.redBox {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 70px;
    margin: auto;
}


.button redBox {
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 70px;
    margin: auto;
}

/* 
.two {
    border: 1px solid black;
    display: inline-block;
}

.three {
    border: 1px solid black;
    display: inline-block;
}

.four {
    border: 1px solid black;
    display: inline-block;
}

.five {
    border: 1px solid black;
    display: inline-block;
}

.six {
    border: 1px solid black;
    display: inline-block;
}

.seven {
    border: 1px solid black;
    display: inline-block;
}

.eight {
    border: 1px solid black;
    display: inline-block;
}

.nine {
    border: 1px solid black;
    display: inline-block;
} */